[Unit]
Description=SCAGNT data server

[Service]
Type=simple
Restart=always
RestartSec=5s
User=matt
WorkingDirectory=/home/matt/server
ExecStart=/home/matt/server/server

[Install]
WantedBy=multi-user.target
