[Unit]
Description=SCAGNT data server

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/server/server

[Install]
WantedBy=multi-user.target
