{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Current Talks </h2>
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Date</td>
        <td>Speaker</td>
        <td>Title</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Date }}</td>
        <td> {{ .Speaker }} </td>
        <td>{{ .Title }} </td> 
        <td><a href="/show?id={{ .Id }}">View</a></td>
        <td><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a href="/delete?id={{ .Id }}">Delete</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}